<h1 id="header">
Edit Image Tags:
</h1>

<h1><%= @image.name %></h1>

<p>HTTP URL: <%= @image.url %></p>

<%= form_with model: @image do |form| %>


<div>Edit tags:
  <%= form.text_area :tag_list %>
    <% if @image.errors.count > 0 %>
      <%= @image.errors.full_messages_for(:tag_list).each do |message| %>
        <div id="tagMesg"><%= message %></div>
      <% end %>
    <% end %>
</div>

<br/>
<div>
  <%= form.submit %>
</div>
<% end %>

<p><%= link_to "Delete this image", image_path(@image),
                                    method: :delete,
                                    data: { confirm: "Are you sure to delete this image?" } %></p>

<ul>
	<img src="<%= @image.url %>" width="100%"></img>
</ul>

<br><p><%= link_to 'Back to Home', images_path %></p>