<h1>Share an image</h1>

<p>Share the images you like with others.</p>

<%= form_with model: @image do |form| %>
  <div>
    Image <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% if @image.errors.count > 0 %>
      <%= @image.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    <% end %>
  </div>

  <br/>
  <div>
    Image <%= form.label :url %><br>
    <%= form.text_area :url %>
    <% if @image.errors.count > 0 %>
      <%= @image.errors.full_messages_for(:url).each do |message| %>
        <div><%= message %></div>
      <% end %>
    <% end %>
  </div>

  <br/>
  <div>
    Tag List (add tag seperated by comma)<br>
    <%= form.text_area :tag_list %>
    <% if @image.errors.count > 0 %>
      <%= @image.errors.full_messages_for(:tag_list).each do |message| %>
        <div><%= message %></div>
      <% end %>
    <% end %>
  </div>

  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<br><p><%= link_to 'Back to Home', images_path %></p>