<h1><%= @image.name %></h1>

<p>HTTP URL: <%= @image.url %></p>

<p>Tags:
  <% @image.tag_list.each do |tag| %>
      <%= link_to tag, images_path(tag: tag) %>&nbsp;
  <% end %>
</p>

<p><%= link_to "Delete this image", image_path(@image),
                                    method: :delete,
                                    data: { confirm: "Are you sure to delete this image?" } %></p>

<ul>
	<img src="<%= @image.url %>" width="100%"></img>
</ul>

<br><p><%= link_to 'Back to Home', images_path %></p>